name: test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    name: pytest (${{ matrix.os }}, ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.6", "3.7", "3.8"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          auto-activate-base: false
      - name: Conda info
        shell: bash -l {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          printenv | sort
      - name: Install dependencies
        shell: bash -l {0}
        run: mamba install xarray dask numpy scipy scikit-learn pytest pytest-cov
      - name: Install pys2index (MacOS, Windows)
        if: matrix.os == 'macos-latest' || matrix.os == 'windows-latest'
        shell: bash -l {0}
        run: mamba install pys2index
      - name: Build and install xoak
        shell: bash -l {0}
        run: |
          python -m pip install . --no-deps -v
          python -OO -c "import xoak"
      - name: Run tests
        shell: bash -l {0}
        run: pytest . --verbose --color=yes
      - name: Codecov
        if: matrix.os == 'macos-latest' && matrix.python-version == '3.8'
        uses: codecov/codecov-action@v1
